# Text file created by "git diff > diff.txt" command, and sent to ChatGPT to generate git commit messages
diff.txt

.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/

# C extensions
*.so

# Database
db.sqlite3
db.sqlite3-journal
.db

# Virtual Environments
.env
.envrc
.venv
.venv*
env/
venv/
ENV/
env.bak/
venv.bak/

# Rope project settings
.ropeproject

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore
